/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 9:05:37 AM
    Author     : lyndon
*/



.dataTable a.glyphicon{
    font-size: 15px;
    padding: 0 0 0 5px;
    display: inline-block;

}
.dataTable a.glyphicon.deletebtn{
    padding:0 15px 0 20px;
}
.bigassbtn{
    padding: 18px;
    font-size: 24px;
    text-transform: uppercase;
}
span.req{
    color: #cc0000;
}
.form-group p{
    font-size:  16px;
}
.res-photo img{
    max-width: 180px;
    border: 1px solid #cecece;
    padding: 5px;
}
.disableflds .form-group *{
    cursor: not-allowed;
}