/*11
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2017, 9:05:37 AM
    Author     : lyndon
*/



.dataTable a.glyphicon{
    font-size: 15px;
    padding: 0 0 0 5px;
    display: inline-block;

}
.dataTable a.glyphicon.deletebtn{
    padding:0 15px 0 20px;
}

span.req{
    color: #cc0000;
}
.form-group p{
    font-size:  16px;
}
.res-photo img{
    max-width: 180px;
    border: 1px solid #cecece;
    padding: 5px;
}
.disableflds .form-group *{
    cursor: not-allowed;
}
h3.box-title .readonlyfld{
    width: 180px;
}
.readonlyfld{
    background: #222d32;
    border: 0;
    color: #ffffff;
    width: 150px;
    text-align: center;
    padding: 2px;
}
.hideOnload{
    display: none;
}
.subform-group{
    padding: 10px 20px;
    background: #f1f1f1;
    margin: 0 0 30px 0;
}
.inputplus{
    margin: 5px 0;
}
.inputplus input.form-control{
    display: inline-block;
    width: 95%;
}
.resprofile{
    font-size: 16px;
    line-height: 26px;
}
.resprofile .res-photo img{
    margin: auto;
    display: block;
    max-width: 200px;
    margin-bottom: 20px;
}
.btn-padded{
    display: inline-block;
    padding: 2px 10px;
}
.userstatus{
    background: #49bb03;
    width: 11px;
    height: 11px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
    top: 1px;
    position: relative;
}